.tiny-route-widget .autoComplete_wrapper {
  padding: 8px 0;
  width: 100%;
}

.tiny-route-widget .autoComplete_wrapper input {
  width: 100%;
}

.tiny-route-widget header {
  background: #da1b1b;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.tiny-route-widget .button {
  font-family: Roboto,Arial,Georgia,Serif;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  background: #da1b1b;
  vertical-align: middle;
  border-radius: 1.5em;
  padding: 3px 10px;
  text-align: center;
  max-width: 500px;
}
.tiny-route-widget .button.submit {
  float: right;
}

.tiny-route-widget .autoComplete_wrapper input {
  font-size: 13px;
  padding: 3px 10px;
  height: 35px;
}
.tiny-route-widget .autoComplete_wrapper > ul {
  margin: 0;
}
.tiny-route-widget .autoComplete_wrapper > ul > li{
  padding: 5px 10px;
  font-size: 13px;
}
